# dependencies
node_modules
src
.idea
.DS_Store
public/admin/include/conf/dbselect.php
public/token.json
tailwind.config.js
package-lock.json
package.json

# Don't Push DS_Store
public/.DS_Store
public/admin/.DS_Store
public/admin/api/.DS_Store
public/admin/assets/img/ayuda/.DS_Store
public/assets/.DS_Store
public/assets/fonts/.DS_Store
public/assets/img/.DS_Store
public/assets/img/lagosinhuella/.DS_Store
public/assets/img/metagenomica/.DS_Store
public/assets/img/monitoreo/.DS_Store
public/assets/img/teledeteccion/.DS_Store
public/assets/js/.DS_Store
public/assets/mail/.DS_Store
public/bk-db/.DS_Store
public/mobile/.DS_Store
public/mobile/assets/.DS_Store
public/mobile/assets/img/.DS_Store
public/mobile/assets/js/.DS_Store
public/admin/api/uploads/lagosinhuella/
public/api/incidents_images
